<br>
<div>
  <i>Welcome, <%= @user.email %></i> 
</div>
<br>
<h3>Solved riddles:</h3>
<br>
<% @answers.each do |answer| %>
	<b>Riddle:</b>
	<br>
	<%= answer.puzzle.text %>
	<br>
	<b>Answer:</b>
	<br>
	<%= answer.text %>
	<br><br>
<% end %>