<br>
<img class='owl inline' src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT22_s55n52DX3lt4y52JbwKMXqKWfjg36X1Rt5bEqjyatpFXKZO_JLpA'>
<span class='header inline'><b>Choose a category</b></span>
<br><br>
<span class='categories'>
<a href="/puzzles/rand?category=word">Word Riddle</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/puzzles/rand?category=logic">Logic Riddle</a>
</span>