<br>
Your puzzle:
<div>
	<%= @puzzle.text %>
</div>
<br>
Your answer:
<div>
	<%= @answer.text %>
</div>

<br>
<%= @message %>
<br>
<br>
<a href='/puzzles/<%= @puzzle.id %>/answers'>Click here</a>&nbsp;to view all the submitted answers for this question.